body {
    display: flex;   
    background-color: bisque;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

}
.wrapper{
    pointer-events: none;
    user-select: none; 
    -webkit-user-drag: none; 
    -webkit-touch-callout: none; 
}
h1 {
    font-size: 60px; 
    color:brown; 
    text-align: center;
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#my-cat {
    user-select: none;
    pointer-events: auto;
    touch-action: none;
    -webkit-user-drag: none; 
    -webkit-touch-callout: none; 
    transition: transform 0.05s linear;
    animation: rotate 2s linear infinite;
}

