body {
    background-color: bisque;
}
h1 {
    font-size: 60px; 
    color:brown; 
    text-align: center;
}
p {
    background-image: url(img/123123.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 20px;
    color: rgb(120, 120, 120);
}
pre {
    border: 10px solid red;
}
blockquote {
    background-color: tomato;
}
a:visited{
    color: pink;
}
a:active,a:hover{
    color: Red;
}
table, th, td  {
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 100%;
}
th, td{
    border-bottom: 1px solid #DDD;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

tr:hover{
    background-color: blueviolet;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:darkslateblue;
}
li a {
    display: block;
    color: white;
}