body {
    display: flex;   
    background-color: bisque;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

}
.wrapper{
    pointer-events: none;
    user-select: none; 
}
h1 {
    font-size: 60px; 
    color:brown; 
    text-align: center;
}


#my-cat {
  user-select: none;
  pointer-events: auto;
  touch-action: none;
  transition: transform 0.05s linear;
}

